# Base Vivado project files
boards/e200/base/antsdre200/*
boards/e200/base/base.hwh
boards/e200/base/base.bit
boards/e200/petalinux_bsp/hardware_project/*.xsa
!boards/e200/base/antsdre200/Makefile
!boards/e200/base/antsdre200/*.v
!boards/e200/base/antsdre200/*.tcl
!boards/e200/base/antsdre200/*.xdc

# Overlay DTC sources
PYNQ-PRIO/device_tree_overlays/dtc-1.4.4/

# Misc
.vscode/
*.bak