# Vivado project files
boards/e200/*/antsdre200/*
boards/e200/*/*.hwh
boards/e200/*/*.bit
boards/e200/petalinux_bsp/hardware_project/*.xsa
!boards/e200/*/antsdre200/Makefile
!boards/e200/*/antsdre200/*.v
!boards/e200/*/antsdre200/*.tcl
!boards/e200/*/antsdre200/*.xdc

# Boot Image
e200_boot_gen/build_sdimg/BOOT.bin
e200_boot_gen/system_top.bit

# Overlay DTC sources
PYNQ-PRIO/device_tree_overlays/dtc-1.4.4/

# Misc
.vscode/
*.bak
*.ic16
*.hex